@keyframes schreibt {
    0% { width: 0 }
    100% { width: 105% }
}
@keyframes verschiebt {
    0% { 
        color: $primary-color;
        transform: translateX(-150%) skew(60deg);
    }
    80%{ transform: translateX(30%) skew(-60deg); 
        
    }
    100% { transform: translateX(0%); }
}
@keyframes pfeil-animation{
    0%{
        opacity: 0;
    }
    50%{
       opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes licht {
    from{
        color: $primary-color;
    }
    to{
        
        color: $medium-color;
    }
}
